* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f0df;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

form {
    background-color: #fffefa;
    width: 60vw;
    height: 60vh;
    margin: 30px auto;
    display: grid;
    padding: 10px;
    box-shadow: -5px 5px 20px #00000030;
}

.form-item {
    text-align: left;
    transition: background-color 300ms ease-out;
    position: relative;
}

label,
input {
    margin-left: 20px;
    margin-top: 10px;
    display: block;
}

label {
    font-weight: bold;
}

input {
    width: 50%;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border: 1px solid #bfb8a8b8;
}

.valid {
    background-color: #005b461f;
    border: #005b4694 1px solid;
}

.invalid {
    background-color: #cf1f001f;
    border: #cf1f0094 1px solid;
}

.active {
    background-color: #fef0ca;
}

.active input {
    box-shadow: -2px 2px 5px #00000050;
    background-color: white;
}

.error {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #cf1f00;
    text-align: right;
    width: 300px;
    font-size: 16px;
    font-style: italic;
}

#submit {
    width: 200px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #bfb8a8;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    transition: box-shadow 300ms ease-in-out, color 500ms ease-in-out;
}

#submit:hover {
    box-shadow: inset -2px 2px 5px #00000050;
    cursor: pointer;
    color: white;
}

@media (max-width: 1000px) {
    body {
        margin: 30px auto;
    }
    form {
        width: 100vw;
        height: 104vh;
        padding: 20px 0;
    }
    input {
        width: 80%;
    }
    .error {
        bottom: 0;
        right: 20px;
        top: auto;
    }
}
